table {
  width: 750px;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}


td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin:15px;
}

.flex-column{
  flex-direction:column;
}

.column-container{
  display: flex;
  flex-direction: column-reverse;
  height: 350px;
  width: 100px;
}
.column{
  background-color: #EEEEEE;
  border: 1px solid #9D9D9D;
  margin: 5px;
}